header {
    background-color: #2b2b2b;
    padding: 20px 0 20px 20px;
    align-items: center;
    color: gainsboro;
    display: flex;
}

header img {
    width: 50px;
    border-radius: 100%;
}

.empty {
    width: 25px;
}